nav {
  display: flex;
  align-content: center;
  justify-content: space-between;


  height: 61px;
  width: 1400px;
  padding: 29px 100px;
  background-color: #fff;
}

.logo {
  width: 240px;
  height: 37px;
  font-family: Montserrat;
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0290ff;
}

.float-right {
  float: right;
}

.nav-item-2 {
  width: 59px;
  height: 16px;
  margin-left: 47px;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  color: #121212;
}

.nav-item-3 {
  width: 105px;
  height: 16px;
  margin-left: 41px;
  opacity: 0.5;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  color: #121212;
}

.img-logo {
  margin-right: 23px;
}

