
/* header */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  border-bottom: 2px solid #e8e8e8;
}

ul {
  list-style-type: none;
}

li {
  display: inline;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  color: var(--black-three);
  margin: 0 15px;
}

li:first-child {
  width: 240px;
  height: 37px;
  font-family: Montserrat;
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--azure);
}

.profile-btn {
  width: 45px;
  height: 45px;
  border: solid 1px #e8e8e8;
  border-radius: 50%;
  margin: 15px;
  display: flex;
  align-items: center;
}

.profile-icon {
  margin: 0 auto;
  display: block;
  width: 17px;
  height: 17px;
}


/* table */

.bookstore {
  width: 1200px;
  height: 100px;
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 0 30px;
  background-color: #fafafa;
}

.bookstore td {
  border-top: thin solid; 
  border-bottom: thin solid;
  border-color: #e8e8e8;
  padding: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
}

.bookstore td:first-child {
  border-left: thin solid;
  border-color: #e8e8e8;
  padding-left: 20px;
  padding-right: 0;
}

.bookstore td:last-child {
  border-right: thin solid;
  border-color: #e8e8e8;
}

tr.book {
  padding: 20px;
  height: 170px;
  border-collapse: collapse;
  margin: 10px 0;
  background-color: white;
}

/* book */

.book-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.book-category {
  opacity: 0.5;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--black-three);
}

.book-title {
  font-family: "Roboto Slab";
  font-size: 22px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: var(--black-three);
}

.author {
  font-family: "Roboto Slab";
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
}

.btn-actions {
  width: 73px;
  height: 19px;
  font-family: "Roboto Slab";
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
  border: none;
  background-color: white;
}

.btn-actions:nth-child(2) {
  border-left: 1px solid #e8e8e8;
  border-right: 1px solid #e8e8e8;
}

.btn-actions:hover {
  cursor: pointer;
}

/* percentage-col */

.percentage-col {
  vertical-align: middle;
}

.percentage-container {
  display: flex;
  border-right: 2px solid #e8e8e8;
  padding: 5px;
  align-items: center;
}

.percent-img-container {
  margin-right: 10px;
}
