body {
  margin: 20px;
  padding: 0;
}

.filter {
  display: flex;
  flex-direction: column;
}

.Bookstore-CMS {
  width: 1600px;
  height: 1434px;
  background-color: var(--pale-grey);
}

.panel-bg {
  width: 1400px;
  height: 1097px;
  border-radius: 4px;
  box-shadow: 0 0 60px 0 var(--black-5);
  background-color: var(--white);
}
