:root {
  --azure: #0290ff;
  --black-5: rgba(0, 0, 0, 0.05);
  --pale-grey: #f5f6fa;
  --yellow: #fecf33;
  --yellow-15pc: rgba(254, 207, 51, 0.15);
  --yellow-30pc: rgba(254, 207, 51, 0.3);
  --yellow-99pc: rgba(254, 207, 51, 0.99);
  --pale-orange: #ffcb03;
  --light-orange: #fdbd39;
  --light-orange-15pc: rgba(253, 189, 57, 0.15);
  --light-orange-30pc: rgba(253, 189, 57, 0.3);
  --light-orange-50pc: rgba(253, 189, 57, 0.5);
  --light-orange-99pc: rgba(253, 189, 57, 0.99);
  --orange: #f69833;
  --orange-15pc: rgba(246, 152, 51, 0.15);
  --orange-30pc: rgba(246, 152, 51, 0.3);
  --orange-99pc: rgba(246, 152, 51, 0.99);
  --peach: #ee6723;
  --peach-15pc: rgba(238, 103, 35, 0.15);
  --peach-20pc: rgba(238, 103, 35, 0.2);
  --peach-30pc: rgba(238, 103, 35, 0.3);
  --peach-70pc: rgba(238, 103, 35, 0.7);
  --peach-85pc: rgba(238, 103, 35, 0.85);
  --peach-99pc: rgba(238, 103, 35, 0.99);
  --grapefruit: #f50;
  --green: #c8cf2d;
  --green-15pc: rgba(200, 207, 45, 0.15);
  --green-30pc: rgba(200, 207, 45, 0.3);
  --green-50pc: rgba(200, 207, 45, 0.5);
  --green-99pc: rgba(200, 207, 45, 0.99);
  --turquoise: #0dcfda;
  --turquoise-15pc: rgba(13, 207, 218, 0.15);
  --turquoise-30pc: rgba(13, 207, 218, 0.3);
  --turquoise-99pc: rgba(13, 207, 218, 0.99);
  --cornflower-blue: #419bf9;
  --cornflower-blue-10pc: rgba(65, 154, 249, 0.1);
  --cornflower-blue-15pc: rgba(65, 154, 249, 0.15);
  --cornflower-blue-20pc: rgba(65, 154, 249, 0.2);
  --cornflower-blue-30pc: rgba(65, 154, 249, 0.3);
  --cornflower-blue-40pc: rgba(65, 154, 249, 0.4);
  --cornflower-blue-50pc: rgba(65, 154, 249, 0.5);
  --cornflower-blue-60pc: rgba(65, 154, 249, 0.6);
  --cornflower-blue-90pc: rgba(65, 154, 249, 0.9);
  --cornflower-blue-99pc: rgba(65, 154, 249, 0.99);
  --whitey: #f7f7f7;
  --whitey-30pc: rgba(247, 247, 247, 0.3);
  --whitey-50pc: rgba(247, 247, 247, 0.5);
  --whitey-90pc: rgba(247, 247, 247, 0.9);
  --casper: #fbfbfb;
  --white-1pc: rgba(255, 255, 255, 0.01);
  --white-20pc: rgba(255, 255, 255, 0.2);
  --white-30pc: rgba(255, 255, 255, 0.3);
  --white-40pc: rgba(255, 255, 255, 0.4);
  --white-50pc: rgba(255, 255, 255, 0.5);
  --white-60pc: rgba(255, 255, 255, 0.6);
  --white-70pc: rgba(255, 255, 255, 0.7);
  --white-80pc: rgba(255, 255, 255, 0.8);
  --white-90pc: rgba(255, 255, 255, 0.9);
  --white-95pc: rgba(255, 255, 255, 0.95);
  --karl: #edeced;
  --gandalf: #979197;
  --gandalf-15pc: rgba(151, 145, 151, 0.15);
  --gandalf-20pc: rgba(151, 145, 151, 0.2);
  --gandalf-30pc: rgba(151, 145, 151, 0.3);
  --gandalf-50pc: rgba(151, 145, 151, 0.5);
  --clooney: #c1bec1;
  --clooney-30pc: rgba(193, 190, 193, 0.3);
  --clooney-40pc: rgba(193, 190, 193, 0.4);
  --clooney-50pc: rgba(193, 190, 193, 0.5);
  --teflon: #554d56;
  --teflon-10pc: rgba(85, 77, 86, 0.1);
  --teflon-15pc: rgba(85, 77, 86, 0.15);
  --teflon-20pc: rgba(85, 77, 86, 0.2);
  --teflon-30pc: rgba(85, 77, 86, 0.3);
  --teflon-40pc: rgba(85, 77, 86, 0.4);
  --teflon-50pc: rgba(85, 77, 86, 0.5);
  --teflon-60pc: rgba(85, 77, 86, 0.6);
  --teflon-70pc: rgba(85, 77, 86, 0.7);
  --deep-purple: #db7cee;
  --deep-purple-15pc: rgba(219, 124, 238, 0.15);
  --deep-purple-30pc: rgba(219, 124, 238, 0.3);
  --deep-purple-99pc: rgba(219, 124, 238, 0.99);
  --code-bg: #474e5d;
  --code-bg-95pc: rgba(71, 78, 93, 0.95);
  --code-red: #ff757d;
  --code-green: #c3ff5b;
  --code-blue: #27f4ff;
  --code-yellow: var(--yellow);
  --code-gray: var(--warm-gray);
  --middle-gray: #eae8ea;
  --earth: #a2573a;
  --warm-gray: #bcb5b9;
  --warm-gray-70pc: rgba(188, 181, 185, 0.7);
  --warm-gray-60pc: rgba(188, 181, 185, 0.6);
  --warm-gray-50pc: rgba(188, 181, 185, 0.5);
  --warm-gray-30pc: rgba(188, 181, 185, 0.3);
}
